<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>633716449839-t54h9n66f2d8vr8tf1rjoinnkjfjnb0e.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.633716449839-t54h9n66f2d8vr8tf1rjoinnkjfjnb0e</string>
	<key>API_KEY</key>
	<string>AIzaSyDbGQOl83_bKSegDPJaITyv6LG3zJIDsjw</string>
	<key>GCM_SENDER_ID</key>
	<string>633716449839</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.Sambit.Flash-Chat</string>
	<key>PROJECT_ID</key>
	<string>flash-chat-11437</string>
	<key>STORAGE_BUCKET</key>
	<string>flash-chat-11437.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:633716449839:ios:2978ae8c87303259</string>
	<key>DATABASE_URL</key>
	<string>https://flash-chat-11437.firebaseio.com</string>
</dict>
</plist>